// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

// ******************************************************************
// CONST
// ******************************************************************

$fpos-input-dark: #525252;
$fpos-input-grey: #777777;
$fpos-input-lightgrey: #eeeeee;

$fpos-white: #ffffff;
$fpos-silver: #999999;
$fpos-grey: #4d4d4d;
$fpos-black: #000000;
$fpos-red: #e06b5e;
$fpos-maroon: #800000;
$fpos-yellow: #ffe98a;
$fpos-olive: #aa8800;
$fpos-lime: #3c9d53;
$fpos-green: #256235;
$fpos-aqua: #2a7fff;
$fpos-teal: #5fd3bc;
$fpos-blue: #2a2aff;
$fpos-navy: #003380;
$fpos-fuchsia: #ff55dd;
$fpos-purple: #a80087;
$fpos-orange: #ff7f2a;
$fpos-darkbrown: #784421;    // 120,68,33
$fpos-brown: #aa4400;        // 170,68,0
$fpos-lightbrown: #ffb380;   // 255,179,128
$fpos-lightred: #e9afaf;     // 233,175,175
$fpos-lightyellow: #ffeeaa;  // 255,238,170
$fpos-lightgreen: #eeffaa;   // 238,255,170
$fpos-lightblue: #aaccff;    // 170,204,255
$fpos-lightestblue: #d5e5ff;   // 213,229,255
$fpos-lightteal: #aaeeff;    // 170,238,255
$fpos-lightestteal: #d5f6ff; // 213,246,255
$fpos-darkestbrown: #552200; // 85,34,0
$fpos-darkestred: #550000;   // 85,0,0
$fpos-lightestyellow: #fdf7e0; // 253,247,224
$fpos-lightestgreen: #f6ffd5;  // 246,255,213
$fpos-lightestred: #f3e0e0; // 243,224,224
$fpos-lightestgrey: #ededed; // 237,237,237
$fpos-darkestgrey: #3f3f3f; // 63,63,63
$fpos-schoko: #483737; // 72,55,55
$fpos-lightgold: #ffd700; // 255,215,0
$fpos-lightestgold: #fff09e; // 255,240,158 

$form-field-label-bg-color : #dcdce6;

$filter-background: #146aa6;
$filter-forground: #ffffff;

$data-background: #f9f9f9;
$data-forground: #666666;
$time-background: #ffffff;

// ******************************************************************
// BUGFIXES
// ******************************************************************

.x-container {   
  touch-action: none;
}

// ******************************************************************
// FORM
// ******************************************************************

.invalidField .x-form-field {
  background-color: red !important;
}


// ******************************************************************
// BUTTONS
// ******************************************************************

@include sencha-button-ui('posInputButtonRed', $fpos-red, 'matt');
@include sencha-button-ui('posInputButtonBlack', $fpos-input-dark, 'matt');
@include sencha-button-ui('posInputButtonGray', $fpos-input-grey, 'matt');
@include sencha-button-ui('posInputButtonGreen', $fpos-lime, 'matt');
@include sencha-button-ui('posInputButtonGreenBevel', $fpos-lime, 'bevel');
@include sencha-button-ui('posInputButtonOrange', $fpos-orange, 'matt');
@include sencha-button-ui('posInputButtonWhite', $fpos-white, 'matt');


.PosInputButton {
    margin: 1px;
    color: $fpos-white !important; 
    font-size: 1.4em;    
}


// ******************************************************************
// STATUS FILTER
// ******************************************************************

.StatusFilter {
    background: $filter-background;
    color: $filter-forground;    
}

.StatusItem {
    font-size: 1.2em;       
}

.StatusItemTable {
    padding: 16px;
    display: table;
    width: 100%; 
}
.StatusItemTitle {
    font-weight: bold;
    text-align: left;
    display: table-cell; 
}

.StatusItemRange {
    text-align: right;
    display: table-cell; 
}

.StatusItemName {
    align: right;
    font-weight: bold;
    padding: 16px;
    border-top: 2px solid $filter-forground;
}

.StatusItemGroup {
    align: right;
    font-weight: normal;
    padding-top : 8px;
    padding-left: 24px;
}

// ******************************************************************
// STATUS DATA
// ******************************************************************

.StatusData {
    background: $data-background;
    color: $data-forground;
}

.StatusDataItem {
    font-size: 1.1em;
    font-weight: bold;
}

.StatusDataTotal {
    
}

.StatusDataTotalTable {
    padding: 16px;
    display: table;
    width: 100%; 
}

.StatusDataTotalTitle {
    text-align: left;
    display: table-cell;
}

.StatusDataTotalAmount {
    text-align: right;
    display: table-cell;
}

.StatusDataSaleBy {
    border-top: 2px dashed $data-forground;
    padding: 16px;
}

.StatusDataTable {
    font-size: 0.9em;
    display: table;
    width: 100%;
}

.StatusDataSaleByInner {
    font-weight: normal;
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.StatusByTime {    
    background: $time-background; 
}

.StatusTimeTable {
    border-top: 2px solid $data-forground;
    padding: 16px;  
    font-size: 0.9em;
}

.StatusTimeTableRow {
    display: table;
    width: 100%;
}